# Decision Tree Exercises

Using the titanic data, in your classification-exercises repository, create a notebook, decision_tree.ipynb where you will do the following:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pydataset import data
import seaborn as sns

from env import user, password, hostname, get_db_url
from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
# acquire
import acquire
import prepare

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

In [2]:
titanic = acquire.get_titanic_data()
titanic

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [3]:
clean_df = prepare.prep_titanic(titanic)
clean_df

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

In [4]:
train, validate, test = prepare.my_train_test_split(clean_df, target= 'survived')
train.shape, validate.shape, test.shape

((534, 12), (178, 12), (179, 12))

In [5]:
train.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
455,455,1,3,male,0,0,7.8958,Cherbourg,1,1,0,0
380,380,1,1,female,0,0,227.5250,Cherbourg,1,0,0,0
492,492,0,1,male,0,0,30.5000,Southampton,1,1,0,1
55,55,1,1,male,0,0,35.5000,Southampton,1,1,0,1
243,243,0,3,male,0,0,7.1250,Southampton,1,1,0,1

## 1. What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

Baseline accuracy is 0 or did not survive.

In [6]:
#Instructor Answer:
baseline_accuracy = (train.survived == 0).mean()
baseline_accuracy

0.6161048689138576

## 2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [7]:
x_train = train.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_train = train.survived

x_validate = validate.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_validate = validate.survived

x_test = test.drop(columns=['survived', 'passenger_id', 'sex', 'embark_town'])
y_test = test.survived

In [8]:
clf3 = DecisionTreeClassifier(max_depth=3, random_state=311)

In [9]:
clf = clf3.fit(x_train, y_train)

In [10]:
#plt.figure(figsize=(13, 7))
#plot_tree(clf, feature_names=x_train.columns, class_names=clf.classes_, rounded=True)

In [11]:
#Instructor Answer:
clf3.score(x_train, y_train)

0.8183520599250936

In [12]:
y_pred = clf3.predict(x_train)

y_pred_proba = clf3.predict_proba(x_train)

## 3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [13]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(x_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.82

In [14]:
confusion_matrix(y_train, y_pred)

array([[295,  34],
       [ 63, 142]])

In [15]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86       329
           1       0.81      0.69      0.75       205

    accuracy                           0.82       534
   macro avg       0.82      0.79      0.80       534
weighted avg       0.82      0.82      0.82       534

In [16]:
prepare.evaluate_clf(clf3, x_train, y_train, y_pred)

(0.8183520599250936,
           Pred 0  Pred 1
 Actual 0     295      34
 Actual 1      63     142,
                     0           1  accuracy   macro avg  weighted avg
 precision    0.824022    0.806818  0.818352    0.815420      0.817418
 recall       0.896657    0.692683  0.818352    0.794670      0.818352
 f1-score     0.858806    0.745407  0.818352    0.802107      0.815273
 support    329.000000  205.000000  0.818352  534.000000    534.000000,
                 metric       score
 0             accuracy    0.818352
 1   true_positive_rate    0.692683
 2  false_positive_rate    0.103343
 3   true_negative_rate    0.896657
 4  false_negative_rate    0.307317
 5            precision    0.806818
 6               recall    0.692683
 7             f1_score    0.745407
 8          support_pos  205.000000
 9          support_neg  329.000000)

## 4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [17]:
cm = confusion_matrix(y_train, y_pred)

In [18]:
prepare.get_cm_metrics(cm)

                metric       score
0             accuracy    0.818352
1   true_positive_rate    0.692683
2  false_positive_rate    0.103343
3   true_negative_rate    0.896657
4  false_negative_rate    0.307317
5            precision    0.806818
6               recall    0.692683
7             f1_score    0.745407
8          support_pos  205.000000
9          support_neg  329.000000

## 5. Run through steps 2-4 using a different max_depth value.

In [19]:
clf5 = DecisionTreeClassifier(max_depth=5)
clf5.fit(x_train, y_train)
clf.score(x_train, y_train)

0.8183520599250936

In [20]:
clf8 = DecisionTreeClassifier(max_depth=8)
clf8.fit(x_train, y_train)
clf.score(x_train, y_train)

0.8183520599250936

## 6. Which model performs better on your in-sample data?

Model 3, with max_depth as 8, performs the best on sample data.

## 7. Which model performs best on your out-of-sample data, the validate set?

In [21]:
y_val_pred1 = clf3.predict(x_validate)
y_val_pred2 = clf5.predict(x_validate)
y_val_pred3 = clf8.predict(x_validate)

In [22]:
print(classification_report(y_validate, y_val_pred1))

print(classification_report(y_validate, y_val_pred2))

print(classification_report(y_validate, y_val_pred3))

              precision    recall  f1-score   support

           0       0.81      0.86      0.84       110
           1       0.75      0.68      0.71        68

    accuracy                           0.79       178
   macro avg       0.78      0.77      0.78       178
weighted avg       0.79      0.79      0.79       178

              precision    recall  f1-score   support

           0       0.74      0.89      0.81       110
           1       0.73      0.49      0.58        68

    accuracy                           0.74       178
   macro avg       0.74      0.69      0.70       178
weighted avg       0.74      0.74      0.72       178

              precision    recall  f1-score   support

           0       0.80      0.86      0.83       110
           1       0.75      0.65      0.69        68

    accuracy                           0.78       178
   macro avg       0.77      0.76      0.76       178
weighted avg       0.78      0.78      0.78       178

Model 1, with max depth as 3 performs best on the validate data.